<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden;">

<head>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Greg Bork</title>
  <link rel="shortcut icon" type="image/png" href="../assets/favicon.png?v=2">

    <link rel="shortcut icon" href="favicon(1).ico">
    <!-- I should not have to add this part using webpack -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- I should not have to add this part using webpack -->

    <!-- aos css ----------------------->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- end aos css -------------------->

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>




</head>


    <body id="page-top">

<div id="logoTop">



      <svg id="logo" width="702" height="152" viewBox="0 0 702 152" fill="none" xmlns="http://www.w3.org/2000/svg">

      <path d="M84.12 38.72C81.336 32.864 77.304 28.352 72.024 25.184C66.744 21.92 60.6 20.288 53.592 20.288C46.584 20.288 40.248 21.92 34.584 25.184C29.016 28.352 24.6 32.96 21.336 39.008C18.168 44.96 16.584 51.872 16.584 59.744C16.584 67.616 18.168 74.528 21.336 80.48C24.6 86.432 29.016 91.04 34.584 94.304C40.248 97.472 46.584 99.056 53.592 99.056C63.384 99.056 71.448 96.128 77.784 90.272C84.12 84.416 87.816 76.496 88.872 66.512H48.84V55.856H102.84V65.936C102.072 74.192 99.48 81.776 95.064 88.688C90.648 95.504 84.84 100.928 77.64 104.96C70.44 108.896 62.424 110.864 53.592 110.864C44.28 110.864 35.784 108.704 28.104 104.384C20.424 99.968 14.328 93.872 9.81599 86.096C5.39999 78.32 3.19199 69.536 3.19199 59.744C3.19199 49.952 5.39999 41.168 9.81599 33.392C14.328 25.52 20.424 19.424 28.104 15.104C35.784 10.688 44.28 8.48 53.592 8.48C64.248 8.48 73.656 11.12 81.816 16.4C90.072 21.68 96.072 29.12 99.816 38.72H84.12Z" stroke="#EAAE5B" stroke-width="6" mask="url(#path-1-outside-1)"/>
      <path d="M133.27 43.904C135.574 39.392 138.838 35.888 143.062 33.392C147.382 30.896 152.614 29.648 158.758 29.648V43.184H155.302C140.614 43.184 133.27 51.152 133.27 67.088V110H120.166V31.088H133.27V43.904Z" stroke="#EAAE5B" stroke-width="6" mask="url(#path-1-outside-1)"/>
      <path d="M245.885 67.52C245.885 70.016 245.741 72.656 245.453 75.44H182.381C182.861 83.216 185.501 89.312 190.301 93.728C195.197 98.048 201.101 100.208 208.013 100.208C213.677 100.208 218.381 98.912 222.125 96.32C225.965 93.632 228.653 90.08 230.189 85.664H244.301C242.189 93.248 237.965 99.44 231.629 104.24C225.293 108.944 217.421 111.296 208.013 111.296C200.525 111.296 193.805 109.616 187.853 106.256C181.997 102.896 177.389 98.144 174.029 92C170.669 85.76 168.989 78.56 168.989 70.4C168.989 62.24 170.621 55.088 173.885 48.944C177.149 42.8 181.709 38.096 187.565 34.832C193.517 31.472 200.333 29.792 208.013 29.792C215.501 29.792 222.125 31.424 227.885 34.688C233.645 37.952 238.061 42.464 241.133 48.224C244.301 53.888 245.885 60.32 245.885 67.52ZM232.349 64.784C232.349 59.792 231.245 55.52 229.037 51.968C226.829 48.32 223.805 45.584 219.965 43.76C216.221 41.84 212.045 40.88 207.437 40.88C200.813 40.88 195.149 42.992 190.445 47.216C185.837 51.44 183.197 57.296 182.525 64.784H232.349Z" stroke="#EAAE5B" stroke-width="6" mask="url(#path-1-outside-1)"/>
      <path d="M295.726 29.792C302.542 29.792 308.494 31.28 313.582 34.256C318.766 37.232 322.606 40.976 325.102 45.488V31.088H338.35V111.728C338.35 118.928 336.814 125.312 333.742 130.88C330.67 136.544 326.254 140.96 320.494 144.128C314.83 147.296 308.206 148.88 300.622 148.88C290.254 148.88 281.614 146.432 274.702 141.536C267.79 136.64 263.71 129.968 262.462 121.52H275.422C276.862 126.32 279.838 130.16 284.35 133.04C288.862 136.016 294.286 137.504 300.622 137.504C307.822 137.504 313.678 135.248 318.19 130.736C322.798 126.224 325.102 119.888 325.102 111.728V95.168C322.51 99.776 318.67 103.616 313.582 106.688C308.494 109.76 302.542 111.296 295.726 111.296C288.718 111.296 282.334 109.568 276.574 106.112C270.91 102.656 266.446 97.808 263.182 91.568C259.918 85.328 258.286 78.224 258.286 70.256C258.286 62.192 259.918 55.136 263.182 49.088C266.446 42.944 270.91 38.192 276.574 34.832C282.334 31.472 288.718 29.792 295.726 29.792ZM325.102 70.4C325.102 64.448 323.902 59.264 321.502 54.848C319.102 50.432 315.838 47.072 311.71 44.768C307.678 42.368 303.214 41.168 298.318 41.168C293.422 41.168 288.958 42.32 284.926 44.624C280.894 46.928 277.678 50.288 275.278 54.704C272.878 59.12 271.678 64.304 271.678 70.256C271.678 76.304 272.878 81.584 275.278 86.096C277.678 90.512 280.894 93.92 284.926 96.32C288.958 98.624 293.422 99.776 298.318 99.776C303.214 99.776 307.678 98.624 311.71 96.32C315.838 93.92 319.102 90.512 321.502 86.096C323.902 81.584 325.102 76.352 325.102 70.4Z" stroke="#EAAE5B" stroke-width="6" mask="url(#path-1-outside-1)"/>
      <path d="M449.141 58.304C452.789 58.88 456.101 60.368 459.077 62.768C462.149 65.168 464.549 68.144 466.277 71.696C468.101 75.248 469.013 79.04 469.013 83.072C469.013 88.16 467.717 92.768 465.125 96.896C462.533 100.928 458.741 104.144 453.749 106.544C448.853 108.848 443.045 110 436.325 110H398.885V9.632H434.885C441.701 9.632 447.509 10.784 452.309 13.088C457.109 15.296 460.709 18.32 463.109 22.16C465.509 26 466.709 30.32 466.709 35.12C466.709 41.072 465.077 46.016 461.813 49.952C458.645 53.792 454.421 56.576 449.141 58.304ZM411.989 52.976H434.021C440.165 52.976 444.917 51.536 448.277 48.656C451.637 45.776 453.317 41.792 453.317 36.704C453.317 31.616 451.637 27.632 448.277 24.752C444.917 21.872 440.069 20.432 433.733 20.432H411.989V52.976ZM435.173 99.2C441.701 99.2 446.789 97.664 450.437 94.592C454.085 91.52 455.909 87.248 455.909 81.776C455.909 76.208 453.989 71.84 450.149 68.672C446.309 65.408 441.173 63.776 434.741 63.776H411.989V99.2H435.173Z" stroke="#EAAE5B" stroke-width="6" mask="url(#path-1-outside-1)"/>
      <path d="M521.613 111.296C514.221 111.296 507.501 109.616 501.453 106.256C495.501 102.896 490.797 98.144 487.341 92C483.981 85.76 482.301 78.56 482.301 70.4C482.301 62.336 484.029 55.232 487.485 49.088C491.037 42.848 495.837 38.096 501.885 34.832C507.933 31.472 514.701 29.792 522.189 29.792C529.677 29.792 536.445 31.472 542.493 34.832C548.541 38.096 553.293 42.8 556.749 48.944C560.301 55.088 562.077 62.24 562.077 70.4C562.077 78.56 560.253 85.76 556.605 92C553.053 98.144 548.205 102.896 542.061 106.256C535.917 109.616 529.101 111.296 521.613 111.296ZM521.613 99.776C526.317 99.776 530.733 98.672 534.861 96.464C538.989 94.256 542.301 90.944 544.797 86.528C547.389 82.112 548.685 76.736 548.685 70.4C548.685 64.064 547.437 58.688 544.941 54.272C542.445 49.856 539.181 46.592 535.149 44.48C531.117 42.272 526.749 41.168 522.045 41.168C517.245 41.168 512.829 42.272 508.797 44.48C504.861 46.592 501.693 49.856 499.293 54.272C496.893 58.688 495.693 64.064 495.693 70.4C495.693 76.832 496.845 82.256 499.149 86.672C501.549 91.088 504.717 94.4 508.653 96.608C512.589 98.72 516.909 99.776 521.613 99.776Z" stroke="#EAAE5B" stroke-width="6" mask="url(#path-1-outside-1)"/>
      <path d="M592.411 43.904C594.715 39.392 597.979 35.888 602.203 33.392C606.523 30.896 611.755 29.648 617.899 29.648V43.184H614.443C599.755 43.184 592.411 51.152 592.411 67.088V110H579.307V31.088H592.411V43.904Z" stroke="#EAAE5B" stroke-width="6" mask="url(#path-1-outside-1)"/>
      <path d="M677.089 110L646.129 75.152V110H633.025V3.44H646.129V66.08L676.513 31.088H694.801L657.649 70.4L694.945 110H677.089Z" stroke="#EAAE5B" stroke-width="6" mask="url(#path-1-outside-1)"/>
      </svg>
</div>

      <%= yield %>

      <script type="text/javascript">

  (function(){
    var myDiv = document.getElementById("logoTop"),

      show = function(){
        myDiv.style.display = "block";
        setTimeout(hide, 5000); // 5 seconds
      },

      hide = function(){
        myDiv.style.display = "none";
      };

    show();
  })();

</script>


      <!-- aos js ----------------------->
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
      <!-- aos  ----------------------->



    </body>

</html>
