<!DOCTYPE html>
<html lang="en">

<head>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Greg Bork</title>
  <link rel="shortcut icon" type="image/png" href="assets/favicon.png?v=2">

    <link rel="shortcut icon" href="favicon(1).ico">
    <!-- I should not have to add this part using webpack -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- I should not have to add this part using webpack -->

    <!-- aos css ----------------------->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- end aos css -------------------->

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>




</head>

    <body id="page-top">


      <%= yield %>



      <!-- aos js ----------------------->
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
      <!-- aos  ----------------------->



    </body>

</html>
